body{
    background: fixed;
    background-image: url(image6.jpg);
    background-position: center;
    background-size:cover;
    height: 95vh;
    display: flex;
    backdrop-filter: blur(3px);
    margin-top: 25px;
    font-family: cursive;
    text-align: center;
}

.topbar{
    margin-left: 92px;
    width: 1300px;
    height: 80px;
    background: radial-gradient(rgba(225,225,225,0.6));
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius: 20px;
    backdrop-filter: blur(4px);
}

nav{
    display: flex;
    padding: 12px 5%;
}

.logo{
    margin-top: 5px;
    color:#fff;
    font-size: 35px;
    float: left;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    transition: 0.2s ease;
}

nav ul li a:hover{
    color: #fff;
}

.bars{
    list-style: none;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    margin-left: 60px;
    margin-right: -20px;
}

.main{
    display: flex;
    margin: 20px;
}

.content{
    background: fixed;
    background-image: url(image6.jpg);
    background-position: center;
    background-size:cover;
    width: 1200px;
    height: 4700px;
    background: radial-gradient(rgba(225,225,225,0.6));
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding-left: 52px;
    margin-left: 72px;
    border-radius: 20px;
    color: #fff;
}

.icons{
    margin-left: 35px;
    width: 90px;
    height: 550px;
    background: radial-gradient(rgba(225,225,225,0.6));
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius: 20px;
    backdrop-filter: blur(4px);
}

.social-icons ul li{
    list-style: none;
    margin-top: 50px;
    margin-left: -16px;
}

.social-icons ul li i{
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    padding: 5px 5px;
    transition: 0.2s ease;
}

.social-icons ul li i:hover{
    background-color: #fff;
    color: #000;
}

.megamalai{
    color: #fff;
}

.surulifalls{
    color: #fff;
}

.vaigaidam{
    color: #fff;
}

.munnar{
    color: #fff;
}

.kurangani{
    color: #fff;
}